/* In your CSS file */
.navLink {
    color: white;
    text-decoration: none;
  }
  
  .navLinkActive {
    color: #FF6E1D;
  }
  
  .navLinkActive::after {
    content: '';
    display: block;
    width: 6px;
    height: 22px;
    background-color: #FF6E1D;
    position: absolute;
    bottom: -20px;
    left: 42%;
    transform: rotate(90deg);
    border-radius: 50%;
  }
